@model FlowerAndGiftShop.ViewModels.CustomerOrder

@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Order Details</h2>
    @{
        var type = TempData["ItemType"];
    }
    <table class="table">
        <tr>
            <th width="300">
                Order ID
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.ID)
            </td>
        </tr>
        <tr>
            <th>
                Item Type
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.ItemType)
            </td>
        </tr>
        <tr>
            <th>
                Item Name
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.ItemName)
            </td>
        </tr>
        <tr>
            <th>
                Quantity
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.Quantity)
            </td>
        </tr>
        <tr>
            <th>
                Date Ordered
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.DateOrdered)
            </td>
        </tr>
        <tr>
            <th>
                Date to be completed
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.DateCompleted)
            </td>
        </tr>
        <tr>
            <th>
                Include Delivery
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.Delivery)
            </td>
        </tr>
        <tr>
            <th>
                Delivery Address
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.PlaceDelivery)
            </td>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.Description)
            </td>
        </tr>
        <tr>
            <th>
                Item Price
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.Price) den.
            </td>
        </tr>
        <tr>
            <th>
                Sale
            </th>
            <td>
                - @Html.DisplayFor(model => model.Order.Sale) den.
            </td>
        </tr>
        <tr>
            <th>
                Total Price
            </th>
            <td>
                @Html.DisplayFor(model => model.Order.TotalPrice) den.
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>     
            <td>
                @if (ViewBag.StatusOrderItem != null)
                {
                    var statusOrder = ViewBag.StatusOrderItem;
                    <label class="text-primary"> @statusOrder.Name </label>
                }
                else
                {
                    @Html.DisplayFor(model => model.Order.OrderStatusID)
                }
            </td>
        </tr>
        <tr>
            @if (ViewBag.UserType == "customer")
            {
                <td style="width: 170px;" colspan="3">
                    @if (ViewBag.StatusOrderItem.ID == 1)
                    {
                        @Html.ActionLink("Cancel Order", "Cancel", new { id = Model.Order.ID }, new { @class = "btn btn-primary" })                        
                    }
                    else
                    {
                        @Html.ActionLink("Remove From List", "Remove", new { id = Model.Order.ID }, new { @class = "btn btn-primary" })
                    }
                    | @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info" })
                    
                   
                </td>
            }
            else if (ViewBag.UserType == "employee")
            {
                <td>
                    @if (ViewBag.StatusOrderItem.ID == 1)
                    {

                        @Html.ActionLink("Set As Completed", "SetCompleted", new { id = Model.Order.ID }, new { @class = "btn btn-success" }) 
                        <span>|</span>
                        @Html.ActionLink("Reject Order", "Reject", new { id = Model.Order.ID }, new { @class = "btn btn-danger", @style = "background-color: red;" })
                    }
                    else
                    {
                        @Html.ActionLink("Remove From List", "Remove", new { id = Model.Order.ID }, new { @class = "btn btn-info" })
                    
                        
                    }
                    <br /> <br />
                    @Html.ActionLink("Back", "AllOrders", null, new { @class = "btn btn-primary" })
                </td>
                

            }
        </tr>

    </table>
</body>
</html>
